.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}

.comment-button{
  margin-left: 13em;
}

body{
	background-color: #EFF8FF;
}
.recomend-section{
	padding:15px;
	background-color: #fff;
}
.list-inline-item{
	border-right:1px solid black;
	padding-right:6px;
	line-height:0.4em;
}
.list-inline-item:last-child{
	border:none;
}
.post-detail ul{
	margin-top:15px;
}