<%= form_with(model: [article, comment] ) do |f| %>
  <div>
    <%= f.text_area :text, class: "form-control" %>
  </div>
  <div class="actions mt-1">
    <%= f.submit "コメントをする", class: "create-btn p-1 comment-button" %>
  </div>
<% end %>