<h1 class="page-heading">記事一覧</h1>
<div class="card__wrapper">
  <% @article.each do |article| %>
  <div class="card">
    <%= link_to  article_path(article.id) do %>
    <%= image_tag "test-image.png", class: "card__img" %>
    <div class="card__body">
      <h2 class="card__title">
        <%= article.title %>
      </h2>
    </div>
  </div>
  <% end %>
</div>
<% end %>
      