<div class="wrapper">
  
  <%= render "shared/header" %>
  
  <div class = "main-contents">
    <div class = "side-bar">
      <%= render "side_bar" %>
    </div>
    <div class="articles">
        <%= render "main_articles" %>
  </div>
</div>