
<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">
              <span data-feather="home"></span>
              新着
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file"></span>
              トレンド
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="shopping-cart"></span>
              
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="users"></span>
              人気タグ一覧
            </a>
          </li>
        <% if @tags.present? %>
          <% @tags.each do |tag| %>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="users"></span>
              <%= link_to "#{tag.name}(#{tag.taggings_count})",articles_path(tag: tag.name)%>
            </a>
          </li>
          <% end %>
        <%end%>
        </ul>
    </nav>

    <main class="ml-20em col-9 ms-auto">
      <div class="album py-5 bg-light">
        <div class="container">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 ml-20em">
            <%= render partial: 'article', collection: @results%>
          </div>
          <%= paginate @articles %>
        </div>
      </div>
    </main>
  </div>
</div>
