<% notifications = @notifications.where.not(visitor_id: current_user.id) %>
<% if notifications.exists? %>

  <%= render notifications %>
  <%= paginate notifications %>
<% else %>
<section class="pt-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>通知はありません</p>
      </div>
    </div>
  </section>
<% end %>
<% breadcrumb :notification %>