<section class="pt-5 container">
    <div class="row py-lg-5">
      <div class="col-lg-8 col-md-10 mx-auto">
      <h1>フォロワー</h1>
        <% @users.each do |user|%>
        <hr>
          <%= link_to user.nickname, user_path(user.id) %>
        <hr>
        <% end %>
      </div>
    </div>
</section>