
<div class="header sticky-top ">
  <div class ="logo-block">
    <div class="logo"><%=link_to "Study Output", root_path %></div>
  </div>
  <div class="mypage-block">
  <% if user_signed_in? %>
    <%= link_to "投稿する", new_article_path, class: 'btn btn-default' %>
    <button type="button" class="btn btn-primary ml-2">マイページ</button>
    <%= link_to "ログアウト", destroy_user_session_path, class: 'btn btn-default' %>
  <% else %>
    <button type="button" class="btn btn-primary ">サインイン</button>
    <button type="button" class="btn btn-primary ml-2">サインアップ</button>
  <% end %>
  </div>
</div>
