<div class="container">
  <div class="messaging">
    <div class="inbox_msg">
      <%= render 'room_sidebar'%>
      <div class="mesgs pt-5 text-center">
        <h4 style="font-weight: bold">メッセージが選択されていません</h4>
      </div>
    </div>
  </div>
</div>