// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.follow-modal{
  background-color: white;
  border-radius: 2px;
  width: 50%;
  overflow-y: scroll;
}
