
<% if @activities.exists? %>
  <% @activities.each do |activity| %>
    <%= render 'activity', activity: activity %>
  <% end %>
  <%= paginate @activities%>
<% else %>
  <p class="text-center">
    アクティビティはありません
  </p>
<%end%>
